setuptools
sphinx==9.1.0
sphinx-autodoc-typehints>=3.0
numpydoc>=1.8
nbsphinx==0.9.4
ipython
myst-parser>=4.0
sphinx-togglebutton==0.3.2
sphinxawesome-theme>=6.0
readthedocs-sphinx-ext==2.2.5
lxml-html-clean==0.4.0
pydata-sphinx-theme==0.15.2
sphinx-design
sphinxcontrib-mermaid
sphinx-copybutton
sphinxext-opengraph
